@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.woff2') format('woff2'),
        url('fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
    background: #F5F7FF;
}






.topHeader {
    max-width: 1920px;
    padding: 22px 238px 23px 116px;
}
ul.navbar-nav li a {
    font-family: 'Inter';
    font-size: 16px;
    padding: 0 !important;
}
ul.navbar-nav {
    gap: 40px;
}
.mainBanner {
    background: url(../images/mainBanner.webp);
    padding: 190px 0 245px 111px;
    background-size: 100%;
}
.mainBanner h3 {
    font-size: 64.18px;
    line-height: 83.06px;
    color: #fff;
    font-family: 'HelveticaNowDisplay';
    font-weight: normal;
}

.mainBanner h1 {
    font-size: 102.42px;
    line-height: 106.05px;
    color: #FFD324;
    font-family: 'HelveticaNowDisplay';
    font-weight: bold;
    letter-spacing: 1.04px;
}
.mainBanner a {
    color: #F47815;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 28px;
    background: #fff;
    padding: 15px 78px;
    margin-top: 32px !important;
    border: 2px solid #F47815;
    border-radius: 8px;
}
.logoclient img {
    width: 100%;
}
.logoclient {
    background: #fff;
    max-width: 16% !important;
}
.clientLogos {
    padding: 19px 0;
}
.aboutSec, .whatWedoSec {
    max-width: 1660px;
    margin: 62px auto 0;
}
.aboutSec {
    background: url(../images/aboutBg.png);
    background-size: cover;
    border-radius: 47px;
    overflow: hidden;
}
.whatWedoSec {
    text-align: center;
    display: flex
;
    flex-direction: column;
    gap: 20px;
}
.allServiceBox {
    background: #327493;
    padding: 156px 24px 24px;
}
.allService.d-flex {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
    max-width: 1660px;
    margin: 0 auto;
}
.allServiceBox {
    background: #327493;
    padding: 156px 24px 24px;
    max-width: 32% !important;
    width: 100%;
}
.aboutSec .d-flex {
   
    padding: 62px 10px 0 0;
}
.aboutContent {
    padding-left: 23px;
}
.aboutContent h2 {
    font-family: 'Inter';
    color: #fff;
    font-size: 115px;
    font-weight: 600;
    font-style: italic;
    display: flex
;
    align-items: center;
    gap: 17px;
}
.aboutContent h2 span {
    font-size: 69px;
    background: #FF6F1F;
    padding: 8px;
    font-weight: 400;
    font-style: normal;
}
.aboutContent p {
    font-family: 'Inter';
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 35px;
}
.aboutContent a {
    color: #F37914;
    text-decoration: none;
    background: #fff;
    font-family: 'Inter';
    font-weight: 600;
    padding: 15px 70px;
    border-radius: 14px;
}
.whatWedoSec {
    margin-top: 156px;
}
.whatWedoSec h2 {
    font-family: 'Inter';
    color: #000;
    font-size: 64px;
    font-weight: 600;
    font-style: normal;
    display: flex
;
justify-content: center;
    align-items: center;
    gap: 17px;
}
.whatWedoSec h2 span {
    font-size: 64px;
    background: #FF6F1F;
    color: #fff;
    padding: 8px;
    font-weight: 400;
    font-style: normal;
}
.whatWedoSec p {
    font-family: 'Inter';
    color: #000;
    font-size: 29px;
    font-weight: 500;
    width: 88%;
    margin: 0 auto 35px;
}
.whatWedoSec a {
    color: #F37914;
    text-decoration: none;
    background: #fff;
    font-family: 'Inter';
    font-weight: 600;
    padding: 15px 70px;
    border-radius: 14px;
}



.ourServices {
    margin-top: 156px;
}
.ourServices h2 {
    font-family: 'Inter';
    color: #000;
    font-size: 64px;
    font-weight: 600;
    font-style: normal;
    display: flex
;
justify-content: center;
    align-items: center;
    gap: 17px;
}
.ourServices h2 span {
    font-size: 64px;
    background: #FF6F1F;
    color: #fff;
    padding: 8px;
    font-weight: 400;
    font-style: normal;
}
.ourServices p {
    font-family: 'Inter';
    color: #000;
    font-size: 29px;
    font-weight: 500;
    width: 65%;
    text-align: center;
    margin: 0 auto 35px;
}
.serviceLink p {
    width: 100%;
    text-align: left;
    font-size: 21px;
    font-family: 'Inter';
    line-height: 35px;
    letter-spacing: 0.88px;
    margin: 0 !important;
}
a.serviceLink {
    text-decoration: none;
}
a.serviceLink .d-flex {
    align-items: center;
    margin-bottom: 22px;
    background: #fff;
    padding: 9px 10px 9px 24px;
    border-radius: 21px;
}
a.serviceLink:hover .d-flex {
    background: #FFFC2E;
}
.allServiceBox h3 {
    text-align: left;
    font-size: 64px;
    color: #fff;
    font-family: 'Inter';
    font-weight: 500;
    margin-bottom: 32px;
}
.allService .allServiceBox:nth-child(1) {
    background: #327493;
    position: relative;
}
.allService .allServiceBox:nth-child(2) {
    background: #6775D0;
    position: relative;
}
.allService .allServiceBox:nth-child(3) {
    background: #479392;
    position: relative;
}
.allService .allServiceBox:nth-child(4) {
    background: #30679E;
    position: relative;
}
.allService .allServiceBox:nth-child(5) {
    background: #8A6597;
    position: relative;
    padding-top: 233px;
}
.allService .allServiceBox:nth-child(6) {
    background: #37456E;
    position: relative;
}

.allService .allServiceBox:nth-child(1) img.serviceBoxImages {
    position: absolute;
    top: 0;
    width: 50%;
    right: 65px;
}
.allService .allServiceBox:nth-child(2) img.serviceBoxImages {
    position: absolute;
    top: 0;
    right: 0;
}
.allService .allServiceBox:nth-child(3) img.serviceBoxImages {
    position: absolute;
    top: 0;
    right: 0;
    width: 37%;
}
.allService .allServiceBox:nth-child(4) img.serviceBoxImages {
    position: absolute;
    top: 0;
    right: 0;
    left: 40px;
    margin: 0 auto;
}
.allService .allServiceBox:nth-child(5) img.serviceBoxImages {
    position: absolute;
    top: 0;
    left: 0;
}
.allService .allServiceBox:nth-child(6) img.serviceBoxImages {
    position: absolute;
    right: 0;
    top: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Black background for arrows */
  border-radius: 50%;      /* Make them circular (optional) */
  padding: 10px;           /* Add padding inside */
}
.slidesStart {
    background: #30679e;
    padding: 34px 35px 45px 67px;
    width: 77%;
    border-radius: 40px;
}
.slidesStart h4 {
    font-family: 'Inter';
    font-size: 16px;
    color: #fff;
    margin-bottom: 48px;
    position: relative;
    font-weight: 200;
}
.slidesStart p {
    color: #fff;
    line-height: 48px;
    font-family: 'Inter';
    font-size: 24px;
    margin-bottom: 56px;
}
.slidesStart h3 {
    font-family: 'HelveticaNowDisplay';
    font-weight: 600;
    font-size: 36px;
    color: #fff;
    margin: 0;
}
.slidesStart h6 {
    font-family: 'Inter';
    font-size: 14px;
    color: #fff;
    position: relative;
    font-weight: 200;
}
.mainTestimonial {
    margin-top: 205px;
    position: relative;
}


.mainTestimonial h2 {
    text-align: center;
    display: flex
;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    color: #000;
    font-size: 64px;
    font-weight: 600;
    font-style: normal;
}
.mainTestimonial h2 span {
    font-size: 64px;
    background: #FF6F1F;
    color: #fff;
    padding: 8px;
    font-weight: 400;
    font-style: normal;
}
.mainTestimonial:before {
    position: absolute;
    content: '';
    background: url(../images/testimonialBg.png);
    right: 0;
    top: -165px;
    width: 516px;
    height: 456px;
    z-index: 9;
    background-size: contain;
    background-repeat: no-repeat;
}
.boostOnlineMain {
    margin-top: 182px;
    padding: 0 328px 132px 705px;
    position: relative;
}
.boostOnlineMain:before {
    position: absolute;
    content: '';
    background: url(../images/boostImage.png);
    width: 603px;
    height: 563px;
    left: 0;

}
.boostOnlineInner h2 {
    color: #143769;
    font-size: 83px;
    font-family: 'HelveticaNowDisplay';
    font-weight: 900;
}
.boostOnlineInner a {
    background: #FF6F1F;
    color: #fff;
    text-decoration: none;
    padding: 18px 114px;
    position: relative;
    top: 51px;
    font-size: 24px;
    font-family: 'HelveticaNowDisplay';
}
.boostOnlineMain:before {
    position: absolute;
    content: '';
    background: url(../images/boostImage.png);
    width: 451px;
    height: 494px;
    left: 13%;
    background-size: contain;
    background-repeat: no-repeat;
    top: -46px;
}
.footerbox {
    background: #30679e;
    padding: 48px 0 99px 0;
    border-radius: 22px;
    width: 20%;
}
.footerAllmenu {
    width: 74%;
}
.mainfooter.d-flex {
    max-width: 96%;
    margin: 86px auto 56px;
    gap: 80px;
}
.footerLogo {
    background: #fff;
    padding: 20px;
    text-align: center;
}
.footerMenufirst h2 {
    color: #000B28;
    margin-bottom: 28px;
    font-family: 'Inter';
    font-weight: 900;
    margin-top: 44px;
}
.footerMenufirst ul {
    padding: 0;
    line-height: 38px;
    list-style: none;
}
.footerMenufirst ul li a {
    text-decoration: none;
    color: #000B28;
    font-family: 'Inter';
    font-size: 22px;
}
.footerAllmenu .d-flex {
    gap: 109px;
}
.socialIcons img {
    width: 54%;
}
.copyright {
    margin-top: 58px;
}
.footerContact {
    padding: 24px 32px 0;
    color: #fff;
}
.socialIcons p {
    margin: 0;
}
.footerContact h3 {
    color: #FDFF85;
    font-size: 20px;
    margin-bottom: 21px;
}